.SignIn {
	margin: 20% 35%;
	position: fixed;
	width: 350px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;

	.title {
		margin: 10px 0;
	}
}
