.SignIn {
	width: 380px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;

	.title {
		margin: 10px 0;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}
}
