@import "../../sass/base/typography";

.NavBar {
	display: flex;
	flex-direction: row;
	z-index: 1;
}

.NavbarItem {
	height: 20px;
	width: 150px;
	margin: 35px;
	font-family: $raleway;
	color: white;
	text-decoration: none;
}
