@import "../../sass/base/typography";

.Navbar {
	display: flex;
}

.NavbarItem {
	display: flex;
	justify-content: center;
	height: 20px;
	width: 100px;
	margin: 25px;
	font-family: $raleway;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
