@import "../../sass/base/typography";

.NavbarItem {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 150px;
	padding: 1%;
	font-family: $raleway;
	margin: 2%;
	color: white;
	text-decoration: none;
}
