@import "../../sass/base/typography";
@import "../../sass/base/base";

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $raleway;
	font-size: 80%;
	color: white;
	background-color: $black;
}
