@import "../../sass/base/animations";

.dropdown {
	animation: dropdown 0.25s linear;
}

#photo,
#film {
	position: absolute;
	width: 150px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid white;
	background-color: black;
	top: 50px;
	z-index: 5;

	.item {
		height: 40px;
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}

	button {
		margin-top: auto;
	}
}

#photo {
	position: absolute;
}

#film {
	position: absolute;
}
